*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid black;
    position: sticky;
    top: 0;
}

body {
    overflow-x: hidden;
}

.tarjeta{
    border: 1px solid black;
    border-radius: 20px;
}

.carrito{
    height: 100vh;
    border-left: 3px solid black;
    position: fixed;
    left: 67%;
}

#cart {
    height: 440px;
    overflow: auto;
}

th{
    border: 1px solid black;
}

th, td{
    padding: 2px;
}
td img{
    width: 75px;
}

tbody, tbody tr {
    height: 100px;
}

.borrar-producto{
    text-decoration: none;
    color: red;
    font-weight: 700;
}

.contBotones {
    display: flex;
    justify-content: space-evenly;
}