*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.tarjeta{
    border: 1px solid black;
    border-radius: 20px;
}

.carrito{
    height: 100vh;
    border-left: 2px solid black;
    position: fixed;
    left: 67%;
}

th{
    border: 1px solid black;
}

th, td{
    padding: 2px;
}
td img{
    width: 75px;
}



tbody {
    height: 580px;
}

tbody tr {
    height: 70px;
    /* background-color: aqua; */
}

.borrar-producto{
    text-decoration: none;
    color: red;
    font-weight: 700;
}

.contBotones {
    display: flex;
    justify-content: space-evenly;
}